<!-- app/views/shared/_header.html.erb -->
<header class="bg-white shadow-sm py-4">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-center">
      <!-- Logo -->
      <div class="text-center">
        <span class="text-gray-800 font-bold text-xl">
          <span class="border-b-2 border-indigo-500 pb-1"><%= link_to "YT Converter", root_path %></span>
        </span>
      </div>
    </div>
  </div>
</header>